@config "../tailwind.config.js";
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Font sizes */
@theme {
  --font-size-2xs: 0.75rem;
  --font-size-2xs--leading: 1.25rem;

  --font-size-xs: 0.8125rem;
  --font-size-xs--leading: 1.5rem;

  --font-size-sm: 0.875rem;
  --font-size-sm--leading: 1.5rem;

  --font-size-base: 1rem;
  --font-size-base--leading: 1.75rem;

  --font-size-lg: 1.125rem;
  --font-size-lg--leading: 1.75rem;

  --font-size-xl: 1.25rem;
  --font-size-xl--leading: 1.75rem;

  --font-size-2xl: 1.5rem;
  --font-size-2xl--leading: 2rem;

  --font-size-3xl: 1.875rem;
  --font-size-3xl--leading: 2.25rem;

  --font-size-4xl: 2.25rem;
  --font-size-4xl--leading: 2.5rem;

  --font-size-5xl: 3rem;
  --font-size-5xl--leading: 1;

  --font-size-6xl: 3.75rem;
  --font-size-6xl--leading: 1;

  --font-size-7xl: 4.5rem;
  --font-size-7xl--leading: 1;

  --font-size-8xl: 6rem;
  --font-size-8xl--leading: 1;

  --font-size-9xl: 8rem;
  --font-size-9xl--leading: 1;

  /* Colors */
  --color-lighter-dark: #0f172a;
  --color-dark: #0b1120;

  /* Box shadow */
  --shadow-glow: 0 0 4px rgb(0 0 0 / 0.1);

  /* Max width */
  --max-width-lg: 33rem;
  --max-width-2xl: 40rem;
  --max-width-3xl: 50rem;
  --max-width-5xl: 66rem;

  /* Opacity */
  --opacity-1: 0.01;
  --opacity-2_5: 0.025;
  --opacity-7_5: 0.075;
  --opacity-15: 0.15;
}
